{% extends 'index.html' %}

<title>Avaluadores</title>

{% block contenido %}

<br><br><br><br>
<h3>Avaluadores</h3>
<hr>
{% for avaluador in avaluadores %}
<div class="container-fluid">
    <li>{{avaluador}}</li>
    <p>Nombre: <i>{{ avaluador.nombre }}</i></p>
    <p>Fecha: <i>{{ avaluador.fecha }}</i></p>
    <p>prueba</p>
    <hr>
{% endfor %}
</div>

    <h4>Registrar Avaluadores</h4>
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>
        <input type="submit" , value="Enviar">

    </form>
    <br>
    <a href="{% url 'inicio' %}">Volver</a>

{% endblock %}