{% extends 'index.html' %}

{% block title %}
<title>Perfil</title>
{% endblock title %}

{% block texto_header %}
<br>
    <h4>Perfil del usuario:  {{request.user.username}}</h4>
{% endblock texto_header %}
{% block despues_del_header %}
<br><br>
<p>
    <ul>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        <li>Descripcion: {{request.user.masdatosusuario.descripcion}}</li>
        <li>Link: <a href="{{request.user.masdatosusuario.link}}">{{request.user.masdatosusuario.link}}</a></a></li>
        <li>
            <p>Avatar: </p>
            {% if request.user.masdatosusuario.avatar %}
            <img src={{request.user.masdatosusuario.avatar.url}} alt="" height="100px">
            {% endif %}
        </li>
    </ul>
</p>
<p>
    <a href={% url 'editar_perfil' %}> Editar perfil </a>
</p>
{% endblock despues_del_header %}