{% extends 'index.html' %}

<title>Galeria de Arte</title>

{% block contenido %}

<h1>Galeria de arte</h1>
<br><br><br>
<div class="page-header d-flex align-items-center">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <h3><span>Santiago Trujillo y Sabrina Cabrera</span><br>
          <h4>Cursada Python 2022</h4>
          <a href="http://www.coderhouse.com" class="btn-get-started">Coderhouse </a>

      </div>
    </div>
  </div>
</div><!-- End Page Header -->
{% endblock %}