{% extends 'index.html' %}


{% block title %}
<title>Editar Obra</title>
{% endblock title %}

{% block texto_header %}
    Editar Obra
{% endblock texto_header %}


{% block body %}
<p>
    <a href={% url 'listado_obras' %}>Listado de Obras</a>
</p>

<div class="form-group">
    <div style="width:800px;">
        <form action={% url 'editar_obra' obra.id %} method="obra" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_p}}
                {{form.media}}
            </table>
            <button>Editar</button>
        </form>
    </div>
</div>
{% endblock %}