{% extends 'index.html' %}


{% block title %}
<title>Editar Artista</title>
{% endblock title %}

{% block texto_header %}
<br>
<h4>Editar Artista</h4>
{% endblock texto_header %}


{% block body %}
<p>
    <a href={% url 'listado_artistas' %}>Listado de Artistas</a>
</p>

<div class="form-group">
    <div style="width:800px;">
        <form action="{% url 'editar_artista' artista.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_p}}
            </table>
            <button>Editar</button>
        </form>
    </div>
</div>
{% endblock %}

