{% extends 'index.html' %}


{% block title %}
<title>Eliminar Avaluador</title>
{% endblock title %}

{% block texto_header %}
<br>
<h4>Eliminar Avaluador</h4>
{% endblock texto_header %}


{% block body %}
<p>
    <a href={% url 'listado_avaluadores' %}>Listado de Avaluadors</a>
</p>

<div class="form-group">
    <form action={% url 'eliminar_avaluador' avaluador.id %} method="post">
        {% csrf_token %}
        ¿Desea eliminar el avaluador?
        <button>Confirmar</button>
    </form>
</div>
{% endblock %}