{% extends 'index.html' %}

{% load static %}

<title>Obras</title>

{% block title %}
<title>Listado de Obras</title>
{% endblock title %}

{% block texto_header %}
<br>
<h4>Listado de Obras</h4>
{% endblock texto_header %}

{% block body %}

<div style="width:800px;">
    <ul>
        <br>
        <p>Buscar Obra</p>
        <form action={% url 'listado_obras' %}>
            {{form}}
            <button>Buscar</button>
        </form>
    </ul>
</div>

{% if object_list %}
<ul>
    {% for obra in object_list %}
    <hr>
    <b>Nombre: </b> {{ obra.nombre }}. <b>Precio: </b> {{ obra.precio }}. <b>Artista: </b>{{ obra.artista.nombre }}.
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
            <img src="{{ obra.imagen.url }}" class="img-fluid" alt="" width=250>
            <div class="gallery-links d-flex ">
                <a href="{{ obra.imagen.url }}" title="{{ obra.nombre }}" class="glightbox preview-link"><i
                        class="bi bi-arrows-angle-expand"></i></a>
            </div>
            <br />
            {% if request.user.is_authenticated %}
            <a href="{% url 'editar_obra' obra.pk %}">Editar</a>
            <a href="{% url 'eliminar_obra' obra.pk %}">Eliminar</a>
            {% endif %}

            {% endfor %}
            <hr>
</ul>
{% else %}
No se encontraron datos.
<br>
{% endif %}
<div class="bleed-left">
    <a href="/crear_obras"> 👉 Crear Obra</a>
    <br>
    <a href="/"> ↩ Volver</a>
</div>

{% endblock body %}