{% extends 'index.html' %}

<title>Obras</title>

{% block title %}
<title>Listado de Obras</title>
{% endblock title %}

{% block texto_header %}
<br>
<h4>Listado de Obras</h4>
{% endblock texto_header %}

{% block body %}

<div style="width:800px;">
    <ul>
        <br>
        <p>Buscar Obra</p>
        <form action={% url 'listado_obras' %}>
            {{form}}
            <button>Buscar</button>
        </form>
    </ul>
</div>
<p>
    {% if object_list %}
<ul>
    {% for obra in object_list %}
    <hr>

    {% for obra in obras_list %}
    {{ forloop.counter }}. {{ obra.nombre }}. {{obra.precio }}. {{obra.artista.nombre }}
    {% endfor %}
    <br />
    <b>Nombre: </b> {{ obra.nombre }}. <b>Precio: </b> {{ obra.precio }}. <b>Artista: </b>{{ obra.artista.nombre }}

    <br />
    {% if request.user.is_authenticated %}
    <a href="{% url 'editar_obra' obra.pk %}">Editar</a>
    <a href="{% url 'eliminar_obra' obra.pk %}">Eliminar</a>
    {% endif %}

    {% endfor %}
    <hr>
</ul>
{% else %}
No se encontraron datos.
<br>
{% endif %}
<div class="bleed-left">
    <a href="/crear_obras"> 👉 Crear Obra</a>
    <br>
    <a href="/listado_obras"> ↩ Volver</a>
</div>

{% endblock body %}