{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Paginas</title>
{% endblock title %}

{% block contenido %}
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <h1>Paginas</h1>
                <br>
                <li>Inicio  <a href="/">Leer más</a></li>
                <li>Artistas    <a href="/listado_artistas">Leer más</a></li>
                <li>Obras   <a href="/listado_obras">Leer más</a></li>
                <li>Avaluadores <a href="/listado_avaluadores">Leer más</a></li>
                <li>Login   <a href={% url 'login' %}>Leer más</a></li>
                <li>Registro    <a href={% url 'register' %}>Leer más</a></li>
                <li>Acerca de Nosotros  <a href={% url 'acerca_de_nosotros' %}>Leer más</a></li>

            </div>
        </div>
    </div>
</div><!-- End Page Header -->
{% endblock %}