{% extends 'index.html' %}

{% load static %}

{% block artistas %}

 <br><br><br>   
 <p>Artistas</p><br>
<div class="container-fluid">  

<p>Nombre: <i>{{ artista.nombre }}</i></p>
<p>Estilo: <i>{{ artista.estilo }}</i></p>

<br>
<a href="{% url 'inicio' %}">Volver</a> 
<br><br>

<p>Registrar Artistas</p>
        <form action="" method="POST">{% csrf_token %}            
            <table>    
                {{ miFormulario.as_table }}  
                </table>
            <input type="submit", value="Enviar">
    
        </form>

</div>
{% endblock %}